* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background: #0e1538;
}
button{
    position: relative;
    padding: 20px 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 40px;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
}
button:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr)
                0 0 30px var(--clr)
                0 0 60px var(--clr)
                0 0 100px var(--clr);
}
button::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}
buttun:hover::before{
    width: 120%;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
button::after{
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 4px;
    transition: 0.5s;
}
button:hover::after{
    background: var(--clr);
}
span{
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}
span:hover{
    opacity: 1;
    color: #0e1538;
}